input {
    width: 100%;
}

.wrapper {
    display: flex;
    flex-direction:row;
    padding: 5px 0 5px 0;
}

.wrapper *:first-child {
    min-width: 200px;
    width: 20%;
}

.wrapper *:nth-child(2){
    width: 80%;
}

.btn-save{
    display: block;
    width: 100%;
}

.btn-cancel{
    float: right;
}

@media screen and (max-width: 600px) {
    .wrapper{
        flex-direction: column;    
    }
    .wrapper *:first-child {
        width: 100%;
    }
    .wrapper *:nth-child(2) {
        width: 100%;
    }
}