/*
    Layout
*/
body{
    font-family: 'Roboto', sans-serif;
}

.wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #EEEEEE;
  }

.wrapper > * {
    padding: 10px;
}

.notes {
    text-align: left;
    overflow-y: auto;
}

/*
    General
*/
.title{
    font-size: 24px;
    margin: 0 auto;
    display: inline-block;
    /* line-height: 0; */
}

button, select {
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
    color: #000000;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
    border-radius: 2px;
    border: none;
    height: 36px;
    text-transform: uppercase;
    text-align: center;
}

.btn-create, .btn-edit{
    border-radius: 50%;
    width: 56px;
    height: 56px;
    font-size: 28px;
}

.btn-create{
    position: absolute;
    right: 30px;
    bottom: 30px;
}

/*
    Headerbar
*/
header{
    line-height: 2em;
}

.style-selector{
    float: right;
}

/*
    Navbar
*/
.btn-show-finished{
    float: right;
}

/*
    Notes
*/
.note {
    margin: 20px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
    background: #ffffff;
}

.note-header {
    display: flex;
    flex-direction: row;
}

.btn-expand:before{
    content: "▶";
}

.btn-expand:active{
    background-color: black;
}

.btn-expand.clicked:before{
    content: "▼";
}

.note-dodate{
    width: 20%;
}

.note-checkbox{
    width: 20%;
}

textarea {
    height: 2em;
    width: 60%;
}

.expanded {
    height: 18em;
    transition: all 1s;
}

/*
    Media Queries
*/

@media all and (min-width: 800px) {
    .notes { flex: 2 0px; }
    
    .notes { order: 1; }
    .footer  { order: 2; }
}

@media screen and (max-width: 600px) {
    .note-header{
        flex-direction: column;    
    }
}