/*
    Layout
*/
body{
    font-family: 'Roboto', sans-serif;
    margin:0;
}

.wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #EEEEEE;
  }

.wrapper > * {
    padding: 10px;
}

.notes {
    text-align: left;
    overflow-y: auto;
    padding-bottom: 30px;
}

/*
    General
*/
.title{
    font-size: 24px;
    margin: 0 auto;
    display: inline-block;
}

button, select {
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
    color: #000000;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
    border-radius: 2px;
    border: none;
    height: 36px;
    text-transform: uppercase;
    text-align: center;
    width: 125px;
}

.btn-create, .btn-edit{
    border-radius: 50%;
    width: 56px;
    height: 56px;
    font-size: 28px;
    color: #ffffff;
    float: right;
}

.btn-create{
    position: absolute;
    right: 30px;
    bottom: 30px;
}

/*
    Headerbar
*/
header{
    line-height: 2em;
}

.style-selector{
    float: right;
}

/*
    Navbar
*/
.btn-show-finished{
    float: right;
}

/*
    Notes
*/
.note {
    display: grid;
    margin: 20px 20px 40px 20px;
    padding: 10px;
    flex-direction: column;
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
    background: #ffffff;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2em 3em 1fr 19px;
    grid-template-areas: 
      "dodate rating"
      "title title"
      "content content"
      "button button";
}

.note > * {
    margin: 3px 0 3px 0;
}

.note-dodate{
    grid-area: dodate;
}

.note-rating{
    grid-area: rating;
    text-align: right;
    direction: rtl;
}

.note-title{
    grid-area: title;
    align-self: center;
}

.note-content{
    grid-area: content;
}

.note-button{
    grid-area: button;
}

.btn-expand:before{
    content: "▶";
}

.btn-expand:active{
    background-color: black;
}

.btn-expand.clicked:before{
    content: "▼";
}

.note-text{
    width: 100%;
}

.note-checkbox{
    width: 20%;
}

.rating{
    font-style: normal;
    font-size: x-large;
    cursor: pointer;
}

.rating-on::before  {
    content: "★";
}

.rating-off::before{
    content: "☆";
}

.rating:hover::before,
.rating:hover ~ .rating::before{
    content: "★";
}

textarea {
    height: 2em;
    width: 60%;
}

.expanded {
    height: 18em;
    transition: all 1s;
}

/*
    Media Queries
*/

@media all and (min-width: 800px) {
    .notes { flex: 2 0px; }
    .notes { order: 1; }
    .footer  { order: 2; }
}

@media screen and (max-width: 600px) {
    .note {
        margin: 0 0 40px 0;
        grid-template-columns: 1fr;
        grid-template-rows: 2em 2em 2em 1fr 19px;
        grid-template-areas: 
          "dodate"
          "rating"
          "title"
          "content"
          "button";
    }
    
    .note-header{
        flex-direction: column;    
    }
}