/*
    Layout
*/
body{
    font-family: 'Roboto', sans-serif;
    margin:0;
}

.wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #EEEEEE;
  }

.wrapper > * {
    padding: 10px;
}

.notes {
    text-align: left;
    overflow-y: auto;
    padding: 20px;
}

/*
    General
*/
.title{
    font-size: 24px;
    margin: 0 auto;
    display: inline-block;
}

.strikethrough {
    text-decoration: line-through;
}

button:active,
button.active{
    box-shadow: inset 0 3px 1px -2px rgba(0,0,0,.2), inset 0 2px 2px 0 rgba(0,0,0,.14), inset 0 1px 5px 0 rgba(0,0,0,.12);
}

button, select {
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
    color: #000000;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
    border-radius: 2px;
    border: none;
    height: 36px;
    text-transform: uppercase;
    text-align: center;
    width: 125px;
    margin-bottom: 5px;
}


.btn-create, .btn-edit{
    border-radius: 50%;
    width: 56px;
    height: 56px;
    font-size: 28px;
    color: #ffffff;
    float: right;
    margin-left: 10px;
}

.btn-create{
    position: absolute;
    right: 30px;
    bottom: 30px;
    z-index: 1;
}

.bx-finished{
    vertical-align: sub;
}

.bx-finished > input[type="checkbox"]{
    width: 20px;
    height: 20px;
    margin: 0;
}

/*
    Headerbar
*/
header{
    line-height: 2em;
}

.style-selector{
    float: right;
}

/*
    Navbar
*/
.btn-show-finished{
    float: right;
}

/*
    Notes
*/
.notes {
    flex: 1;
}

.notes-list{
    position: relative;
    list-style: none;
    padding:0;
    margin:0;
}

.note {
    display: grid;
    padding: 10px;
    flex-direction: column;
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
    background: #ffffff;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2em 3em 1fr 19px;
    grid-template-areas: 
      "finishdate importance"
      "title title"
      "content content"
      "button button";

    position: absolute;
    width: calc(100% - 20px);
    transition: transform 1s ease-out
}

.note > * {
    margin: 3px 0 3px 0;
}

.note-finishdate{
    grid-area: finishdate;
}

.note-importance{
    grid-area: importance;
    text-align: right;
    direction: rtl;
}

.note-title{
    grid-area: title;
    align-self: center;
}

.note-content{
    grid-area: content;
}

.note-content.edit-off {
    white-space: pre-line;
}

.note-button{
    grid-area: button;
}

.note-text{
    width: 100%;
    height: 100px;
}

.importance{
    font-style: normal;
    font-size: x-large;
    cursor: pointer;
}

.importance-on::before  {
    content: "★";
}

.importance-off::before{
    content: "☆";
}

.importance:hover::before,
.importance:hover ~ .importance::before{
    content: "★";
}

.hidden {
    display: none;
}

@media all and (max-width: 600px) {

    .notes{
        padding: 5px;
    }

    .note {
        grid-template-columns: 1fr;
        grid-template-rows: 2em 2em 2em 1fr 19px;
        grid-template-areas: 
          "finishdate"
          "importance"
          "title"
          "content"
          "button";
    }

    .btn-show-finished{
        float: none;
    }
}