header{
    background: #b4004e;
}

.importance-on {
    color: #b4004e;
}

.importance:hover,
.importance:hover ~ .importance {
    color: #f88ab0; 
}

nav {
    background: #EC407A;
}

.btn-create {
    background: #b4004e;
}

.btn-create:hover{
    background: #EC407A;
}

.btn-edit {
    background: #EC407A;
}

.btn-edit:hover {
    background: #b4004e;
}