header{
    background: #0288d1;   
}

nav {
    background: #5eb8ff;
}

.importance-on {
    color: #0288d1;
}

.importance:hover,
.importance:hover ~ .importance {
    color: #64c9ff; 
}

.btn-edit {
    background: #5eb8ff;
}

.btn-edit:hover {
    background: #0288d1;
}

.btn-create{
    background: #0288d1;
}

.btn-create:hover{
    background: #5eb8ff;
}