header{
    background: #b4004e;
}

.rating-on {
    color: #b4004e;
}

.rating:hover,
.rating:hover ~ .rating {
    color: #f88ab0; 
}

nav {
    background: #EC407A;
}

.btn-create, .btn-edit {
    background: #EC407A;
}

.btn-create:hover, .btn-edit:hover {
    background: #b4004e;
}